
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    <p th:text="'Hello, ' + ${name} + '!'" />
        <h3>Welcome to the Quiz!</h3>
        <p>What number comes after 2?</p>
        <form action="quiz" method="get">
            <label for="answer">Username:</label><br />
            <input type="text" id="answer" name="answer" /> <br />
            <input type="submit" value="Start" />
        </form>
    </body>
</html>